
   main {
    box-sizing:border-box
  }

/* Slideshow container */
.slideshow-container {
  max-width: 95%;
  position: relative;
  margin: auto;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 12px;
  position: absolute;
  justify-content: center;
  left:10px;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-weight: var(--fw7);
    width: fit-content;
    padding: 4px 10px;
   background-color:rgba(251, 233, 242, 0.4); 
    color: var(--secondary-dark-color);
    border-radius: 20px;
}
.text .sliderBtn{
  text-transform: uppercase;
  border-radius: 20px;
  width:100px;
  height:35px;
  background-color: var(--primary-color);
  border:none;
  color:var(--white-color);
  cursor: pointer;
}

/* The dots/bullets/indicators */
.dot {
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--secondary-dark-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--detail-color);
}


/* brands */
.brands .wrapper{
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em 0;
}
.brands .item img{
  width:100px;
  height: 60px;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.brands .item a:hover img{
  opacity: 1;
}

/* products popular this week */
.offer, .flexcenter{
  display: flex;
}
.offer{
  justify-content: space-around;
}
.sectop{
  justify-content: space-between;
  padding-bottom: 0.5em;
  margin-bottom: 2em;
  border-bottom: 1px solid var(--border-color);
}
.sectop h2{
  position: relative;
  font-size: 1.5em;
  font-weight: var(--fw7);
}
.item .image img{
  max-height: 600px;
}
.sectop h2 span:not(.detail){
  padding: 0 0 0 2em;
}
.sectop h2 .detail{
  left:35px;
  width:75px;
  height: 35px;
}
.flexwrap {
  flex-direction: column;
}
.column .offer{
  text-align: center;
  margin-bottom: 1.5em;
}
.column .offer p{
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.column .offer ul{
  gap:1em;
}
.column .offer ul li {
  position: relative;
  line-height: inherit;
  color:var(--secondary-dark-color);
  background-color: var(--light-bg-color);
  border-radius: 5px;
  width:30px;
  height: 40px;
  text-align: center;
}
.column .offer ul li:not(:last-child)::before{
  content:':';
  position: absolute;
  right:-0.6em;
  color:var(--light-text-color);
}
.products :where(.image, .thumbnail) img{
  transition: transform 0.3s;
}
.products :where(.image, .thumbnail):hover img{
  transform:scale(1.05);
  opacity: 0.7;
}
.products .hoverable{
  position: absolute;
  top:0;
  right:0;

}
.products .hoverable li{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0.25em;
  margin: 0.25em;
  border-radius: var(--percent50);
  line-height: 1;
  background-color: var(--white-color);
  opacity: 0.5;
  transition: var(--trans-background-color), opacity 0.3s;
}
.products .hoverable li:hover{
  opacity: 1;
  cursor: pointer;
}
h3.mainLinks{
  position: relative;
  top:20px;
}
.products .discount{
  top:auto;
  right:0;
  left:auto;
  bottom:0;
  background-color: transparent;
  z-index: 1;
}
.products .discount::before{
  background-color: var(--dark-color);
}
.products .discount span{
  position: relative;
  font-size: var(--font-smaller);
  font-weight: var(--fw5);
  color:var(--primary-color);
}
.products .content{
  display: flex;
  flex-direction: column;
}
.products .rating{
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.products .rating .stars{
  width:120px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z' fill='rgba(240,187,64,1)'%3E%3C/path%3E%3C/svg%3E");
}
.price .current{
  font-size: 25px;
}
.price .cut{
  position: relative;
  width:50px;
  z-index: 10;
  border-top: 1px solid var(--light-text-color);
  content: ' ';
  transform: rotate(-17deg);
  left:80px;
  bottom:22px;
}
/* scrollable products */
.product{
  display: flex;
  overflow: scroll;
  gap:12px;
  padding-bottom: 100px;
}
.products img{
  min-width: 250px;
  border:1px solid var(--border-color);
}
.products img:hover{
  transform:scale(1.05);
  opacity: 0.7;
  transition: transform 0.3s;
}
/* banner */
.banners .item{
  position: relative;
  background-color: var(--white-color);
  /* border: 1px solid var(--border-color); */
}
.banner .image{
  text-align: right;
}
.banner .get-gray{
  background-color: var(--border-color);
}
/* .banner :where(.textContens, .overLink){
  position: absolute;
  top:0;
  left:0;
  width: var(--percent100);
  height: var(--percent100);
} */
.banner .textContents{
  padding: 1.5em 2.5em;
}
/* .row .textContents h3,h4{
  background-color: rgba(229,232,236,0.5);
  max-width: auto;
  border-radius: 30px;

} */
/* .banner h3{
  font-size: calc(1em+0.5vw);
  font-weight: var(--fw3);
} */
.featuring{
  text-transform: uppercase;
  background-color: var(--primary-color);
  color:var(--white-color);
  height: 120px;
  font-size: 200%;
  padding: 20px;
  text-align: center;
}
.featuring p{
  animation:more 1s infinite ease-out;
}
.banner h3 span{
  font-size: 80%;
}
.flexLastTwo{
  display: flex;
}
.banner .flexLastTwo .textContents{
  position: relative;
  z-index: 1;
  color:var(--primary-color);
  font-size: 70%;
  box-shadow: 0 10px 10px 0;
}
.flexFirstTwo{
  display: flex;
  justify-content: space-between;
}
.banner{
  flex-direction: row;
  flex-wrap: wrap;
  gap:2em;
}
.banner .flexFirstTwo .textContents{
  position: relative;
  z-index: 1;
  color:var(--secondary-dark-color);
  font-size: 70%;
  box-shadow: 0 10px 10px 0;
}
@keyframes more{
  0%{
    transform: scale(1);
  }
  80%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}