@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--dark-color);
  background-color: var(--white-color);
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
}
img {
  max-width: var(--percent100);
  vertical-align: middle;
}
strong {
  font-weight: var(--fw8);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input::placeholder {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: calc(1.3em+1vw);
  font-weight: var(--fw8);
  line-height: 1;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.2em;
  font-weight: var(--fw7);
}
h4 {
  font-size: 1em;
  font-weight: var(--fw6);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.938em;
}
.column {
  margin-left: -0.938em;
  margin-right: -0.938em;
}
.column .row {
  padding: 0 0.938em;
}
.flexwrap {
  display: flex;
  align-items: center;
}
.flexItem {
  display: flex;
  align-items: center;
}
.flexcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.mainLinks a:hover {
  color: var(--secondary-color);
}
.secondLinks a:hover {
  color: var(--light-text-color);
}
.iconSmall,
.iconLarge {
  display: flex;
  align-items: center;
  padding: 0 0.25em;
  font-weight: normal;
}

.iconSmall {
  font-size: 1.25em;
  margin-left: auto;
}
.iconLarge {
  font-size: 1.75em;
  padding: 0 0.75em 0 0;
}

.mobileHide{
  display: none;
}
.objectCover img{
  position: relative;
  object-fit: cover;
  width: var(--percent100);
  height:  var(--percent100);
  display: block;
  z-index: 100;
}
.products .media {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}
.primaryBtn, .secondaryBtn, .lightBtn{
  font-size: var(--font-small);
  padding: 0.9em 2em;
  height:auto;
  width: fit-content;
  border-radius: 2em;
  transform: var(--trans-background-color);
}
.primaryBtn{
  background-color: var(--btn-color);
  color:var(--secondary-dark-color);
}
.primaryBtn:hover{
  background-color: var(--dark-color);
}
.secondaryBtn{
  background-color: var(--secondary-dark-color);
  color:var(--white-color);
}
.secondaryBtn:hover{
  background-color: var(--light-bg-color);
  color:var(--secondary-dark-color);
}
.lightBtn{
  background-color: var(--light-bg-color);
}
.lightBtn:hover{
  background-color: var(--secondary-dark-color);
  color:var(--white-color);
}
.viewAll{
  font-size: var(--font-small);
  display: flex;
  gap:1em;
  transition: var(--trans-color);
}



@media screen and (min-width: 992px) {
  .container {
    padding: 0 2em;
  }
  #desktopHide{
    display: none;
  }

  .mobileHide{
    display: block;
  }

  .logo a{
    margin-right: 2em;
  }
  .headerNav{
    padding:0;
    margin: 0;
    border-bottom: 0;
  }
  .headerNav .right li>a{
    margin-left: 1em;
  }

  /* mega menu */
  nav .mega{
    position: absolute;
    width: var(--percent100);
    height: auto;
    top: auto;
    left:0;
    right:0;
    padding: 2.5em;
    line-height: 2em;
    background-color: var(--light-bg-color);
    z-index: 2;

    display: none;
  }
  nav li.dropDown:hover .mega{
    display:block;
  }
  nav .mega .wrapper{
    display: flex;
  }
  nav .mega h4{
    font-size: 0.8em;
    text-transform: uppercase;
  }
  nav .mega ul{
    font-size: var(--font-smaller);
  }
  nav .mega .womenBrands{
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
  }
  nav .mega .womenBrands li{
    min-width: 80px;
  }
  nav .mega .viewAll{
    margin-top: 1em;
  }
  nav .mega .products{
    flex:2;
    padding:0;
    align-items: center;
    position: relative;
  }
  nav .mega .products .row{
    width:var(--percent100);
  }
  nav .mega .products .media{
    max-height:400px;
  }
  /* nav .mega .products .media img{
    max-height:400px;
  } */
  nav .mega .products .textContent{
    line-height: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5em;
    position: relative;
    /* bottom:4em; */
    width: var(--percent100);
  }
  nav .mega .products .textContent h4{
    font-size: 1.5em;
    font-weight: var(--fw7);
    text-align: center;
    color:var(--secondary-dark-color);
  }
  .headerMain .right{
    max-width: 600px;
    margin-left: auto;
  }
/* Dpt Menu */
  .dptMenu{
    position: absolute;
    top:var(--percent100);
    width: 300px;
    background-color: var(--white-color);
    border:1px solid var(--border-color);
    border-top: 0;
    border-bottom: 0;
  }
  .dptMenu >ul>li>a{
    font-weight: var(--fw5);
    padding: 0 1.5em;
    border-bottom: 1px solid var(--border-color);
  }


  .dptMenu .dropDown ul, .dptMenu .mega{
    position: absolute;
    top:0;
    left:var(--percent100);
    width: var(--percent100);
    min-height: var(--percent100);
    height: auto;
    line-height: 2.5em;
    padding:1.5em ;
    font-size: var(--font-small);
    border:1px solid var(--border-color);
    border-top:0;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .dptMenu .fashionW .mega{
    background-image: url(assets/menu/women.jpeg);
  }
  .dptMenu .fashionM .mega{
    background-image: url(assets/menu/man.jpeg);
  }
  .dptMenu .fashionG .mega{
    background-image: url(assets/menu/kid.jpeg);
  }
  .dptMenu .fashionB .mega{
    background-image: url(assets/menu/boy.jpeg);
  }
  .dptMenu .accessories .mega{
    background-image: url(assets/menu/purse.jpeg);
  }
  .dptMenu .dropDown > :where(ul,.mega)::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: linear-gradient(120deg, rgba(225,225,225,1) 0%, rgba(225,225,225,0) 70%);
  }
  .dptMenu .mega{
    width:auto;
    min-width: var(--percent100);
  }
  .dptMenu .dropDown:hover .mega{
    display: flex;
  }
  .dptMenu .dropDown:hover ul{
    display: block;
  } 
  .dptMenu .dropDown li a:hover{
    text-decoration: underline;
  }
  .banner .row{
    flex:0 0 50%;
  }
  /* slider */
  main .slideshow-container{
    max-width: 60%;
    left:15%;
  }
  .dot{
    left:15%;
  }

  /* products main page */
  .trending .products{
    flex:0 0 33.333%;
  }
  div.flexwrap{
    flex-direction: row;
  }

  /* footer */
  .newsletter .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .widgets .row{
    flex:0 0 33.3333%;
  }

  .newsletter form{
    max-width: 500px;
  }
  /* banner */
  .banner .flexLastTwo .textContents.flexcol{
    /* transform:rotate(-7deg); */
    position: relative;
    z-index: 1;
    bottom:20vh;
    color:var(--primary-color);
    font-size: 110%;
    background-color: rgba(65, 72, 80, 0.3);
    /* border-radius: 40px; */
    box-shadow: 0 0 10px 10px;
  }
  .flexFirstTwo{
    display: flex;
    justify-content: space-between;
  }
  .banner{
    flex-direction: row;
    flex-wrap: wrap;
    gap:2em;
  }
  .banner .flexFirstTwo .textContents.flexcol{
    position: relative;
    box-shadow: 0 0 10px 10px;
    z-index: 1;
    bottom:54vh;
    left:5.4vh;
    color:var(--secondary-dark-color);
    font-size: 110%;
    max-width: 87%;
    background-color: rgba(255,255,255,0.4);
  }
}
